<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/calendar.css" />
 

  
    <title>Major Assignment</title>

  </head>
  <body>
   

   
   
	<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div class="header" data-role="header">
		<h1 class="p1">Student Wellness</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
    
    
    	<h2 class="p1">Welcome</h2>
		<p class="p1">Sign in / Register Here</p>

        
         Email: <input class="p1" type="text" id="student_id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  name="student_id"></input>
         Password: <input class="p1" type="password" id="password" name="password"></input>
         <button  class="p1" id="registerNew" class="ui-btn">Register</button>
         <button class="p1" id="login" class="ui-btn">Login</button>
     
		
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->



<!-- Start of student page: #two -->
<div data-role="page" id="student" data-theme="a">

	<div data-role="header">
		<h1 class="p1">Welcome student</h1>
		
		
		
		</div><!-- /header -->

		

	<div role="main" class="ui-content">

	<div class="timemove" id="time"></div>
		
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
   <li class="nav-item">
          <a class="nav-link" href="#survey">Home
           <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>
	    <h2 class="p1">Hello Student!</h2>

	    <div class="image_gallery">
	        <img class="mySlides" src="/images/itb1.jpg" style="width:100%">
	        <img class="mySlides" src="/images/itb2.jpg" style="width:100%">
	        <img class="mySlides" src="/images/itb3.jpg" style="width:100%">
	    </div>

	    <div class="itb_link">
	      <a href="https://itb.ie/"> <img src="/images/itb_link.png" style="width:100%"></a>
	    </div>

	    <div class="text_home">
            <p>This is the Student Wellness App used to help students fit into university life and records student feedback from our surveys.
               <strong>Click the survey page to let us know what you think about life on campus</strong></p>
        </div>

        <button onclick="logout()">Logout</button>



 </div>		
		



	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	</div><!-- /content -->

<!--End of student Page-->

<!-- Start of survey page: -->
<div data-role="page" id="survey" data-theme="a">

		<div data-role="header">
		<h1 class="p1">Survey Page</h1>


		
		</div>
	<div role="main" class="ui-content">

<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>

        <h2 class="p1">Hello Student!</h2>
		<p class="p1">This is the survey page!</p>

        <div class="surveyForm">
        <p class="surveyWriting">This survey will be used to compare against other students to get a feeling of what students are thinking about college life
         and how we can help make your campus experience great.
         Each survey is completely anonymous.</p>
        </div>
        <div class="buttonSurvey">
        <button  onclick="takesurvey()">Take Survey</button>
        </div>
</div>
 <button onclick="logout()">Logout</button>
</div>




<div data-role="page" id="takeSurvey" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>

	  
<div role="main" class="ui-content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>
	    <form action="/my-handling-form-page" id="form01" method="POST"> <!-- Using a form to display the survey -->


	<div class="Q1">
	<label for="Q1">Q1: How are you adjusting to college life?</label>

         <input type="radio" id="good" name="college_life" value=1>
         <label for="good">Good</label><br>
         <input type="radio" id="neutral" name="college_life" value=2>
         <label for="neutral">No Opinion</label><br>
         <input type="radio" id="bad" name="college_life" value=3>
         <label for="bad">Awful</label>
    </div>

    <div class="Q2">
    <label for="Q2">Q2: How do you travel to college?</label>

          <input type="radio" id="car" name="college_life01" value=1>
          <label for="car">Car</label><br>
          <input type="radio" id="bus" name="college_life01" value=2>
          <label for="bus">Bus</label><br>
          <input type="radio" id="walking" name="college_life01" value=3>
          <label for="walking">Walking</label>
    </div>






                <ul>
     		    <a class="nextpage" href="#nextPage">Next Page</a>
     		    </ul>
           <button onclick="logout()">Logout</button>

</div>
</div>




<div data-role="page" id="nextPage" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>


<div role="main" class="ui-content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>



		
	    <form action="/my-handling-form-page" id="form01" method="POST"> <!-- Using a form to display the survey -->


	<div class="Q3">
	<label for="Q3">Q3: What motivates you to learn?</label>

         <input type="radio" id="ask" name="college_life02" value=1>
         <label for="ask">Asking a lot of questions to the teacher</label><br>
         <input type="radio" id="assignment" name="college_life02" value=2>
         <label for="assignment">Completing various assignments</label><br>
         <input type="radio" id="sports" name="college_life02" value=3>
         <label for="sports">Sports and other extracurricular activities</label>
    </div>

    <div class="Q4">
    <label for="Q4">Q4: Does your lecturer encourage you to perform better?</label>

          <input type="radio" id="yes" name="college_life03" value=1>
          <label for="yes">Yes</label><br>
          <input type="radio" id="sometimes" name="college_life03" value=2>
          <label for="sometimes">Only sometimes</label><br>
          <input type="radio" id="no" name="college_life03" value=3>
          <label for="no">No</label>
    </div>

            <a class="prevpage"  href="#takeSurvey" >Previous Page</a>
            <a class="nextpage" href="#nextPage1" >Next Page</a>


           <button onclick="logout()">Logout</button>

</div>
</div>



<div data-role="page" id="nextPage1" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>


<div role="main" class="ui-content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>



		<button id="hide1">Hide Survey</button>
	    <form action="/my-handling-form-page" id="form01" method="POST"> <!-- Using a form to display the survey -->


	<div class="Q5">
	<label for="Q5">Q5: Does your lecturer guide you in setting personal targets and developing strategies to achieve that target?</label>

         <input type="radio" id="work" name="college_life04" value=1>
         <label for="work">Yes, she/he always appreciates my hard work</label><br>
         <input type="radio" id="sometimes01" name="college_life04" value=2>
         <label for="sometimes01">Only sometimes</label><br>
         <input type="radio" id="work_null" name="college_life04" value=3>
         <label for="work_null">No, she/he never appreciates my hard work</label>
    </div>

    <div class="Q6">
    <label for="Q6">Q6: Do you get along with fellow students?</label>

          <input type="radio" id="yes01" name="college_life05" value=1>
          <label for="yes01">Yes</label><br>
          <input type="radio" id="sometimes02" name="college_life05" value=2>
          <label for="sometimes02">Only sometimes</label><br>
          <input type="radio" id="no01" name="college_life05" value=3>
          <label for="no01">No</label>
    </div>

             <a  class="prevpage" href="#nextPage" >Previous Page</a>
             <a class="nextpage" href="#nextPage2" >Next Page</a>



           <button onclick="logout()">Logout</button>

</div>
</div>




<div data-role="page" id="nextPage2" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>


<div role="main" class="ui-content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>



		<button id="hide1">Hide Survey</button>
	    <form action="/my-handling-form-page" id="form01" method="POST"> <!-- Using a form to display the survey -->


	<div class="Q7">
	<label for="Q7">Q7: Does you have a drivers license?</label>

         <input type="radio" id="yes02" name="college_life06" value=1>
         <label for="yes02">Yes</label><br>
         <input type="radio" id="i_will" name="college_life06" value=2>
         <label for="i_will">No, but I will</label><br>
         <input type="radio" id="no02" name="college_life06" value=3>
         <label for="no02">No</label>
    </div>

    <div class="Q8">
    <label for="Q8">Q8: Do you find any of the modules difficult?</label>

          <input type="radio" id="yes03" name="college_life07" value=1>
          <label for="yes03">Yes</label><br>
          <input type="radio" id="sometimes03" name="college_life07" value=2>
          <label for="sometimes03">Only sometimes</label><br>
          <input type="radio" id="no03" name="college_life07" value=3>
          <label for="no03">No</label>
    </div>

             <a  class="prevpage" href="#nextPage1" >Previous Page</a>
             <a class="nextpage" href="#nextPage3" >Next Page</a>



           <button onclick="logout()">Logout</button>

</div>
</div>



<div data-role="page" id="nextPage3" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>


<div role="main" class="ui-content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>



		<button id="hide1">Hide Survey</button>
	    <form action="/my-handling-form-page" id="form01" method="POST"> <!-- Using a form to display the survey -->


	<div class="Q9">
	<label for="Q9">Q9: Do you require extra support?</label>

         <input type="radio" id="yes04" name="college_life08" value=1>
         <label for="yes04">Yes</label><br>
         <input type="radio" id="no04" name="college_life08" value=2>
         <label for="no04">No</label>
    </div>

    <div class="Q10">
    <label for="Q10">Q10: How do you eat for lunch?</label>

          <input type="radio" id="canteen" name="college_life09" value=1>
          <label for="canteen">Canteen</label><br>
          <input type="radio" id="lunch" name="college_life09" value=2>
          <label for="lunch">Pack Lunch</label><br>
          <input type="radio" id="town" name="college_life09" value=3>
          <label for="town">Go into Town</label>
    </div>

           <a  class="prevpage" href="#nextPage2" >Previous Page</a>

		   <button type="submit" id="submitSurvey" class="ui-btn" >Submit</button>


           <button onclick="logout()">Logout</button>

</div>
</div>



</form><!-- end of form-->


<!-- Start of graph page: -->
<div data-role="page" id="graph" data-theme="a">

		<div data-role="header">
		<h1>Graph Page</h1>
	
</div>
	
<div role="main" class="ui-content">
		
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account</a>
      </li>
  </div>
</nav>

        <h2 class="p1">Hello Student!</h2>
		<p class="p1">See what other students think!</p>
		
		


        <div class="view_graph">
	    <canvas id="myChart"></canvas>
	    </div>
		
		
        <div class="view_graph">
	    <canvas id="myBarChart"></canvas>
	    </div>
		
		<div class="view_graph">
	    <canvas id="myChart1"></canvas>
	    </div>
		
		<div class="view_graph">
	    <canvas id="myBarChart1"></canvas>
	    </div>
		
		<button id="showButton">Campus Life Data</button>
		<div id="showSurvey"></div>
		
	
		
	
		


 <button onclick="logout()">Logout</button>

</div>
</div>

<!-- Start of account page: -->
<div data-role="page" id="account" data-theme="a">

		<div data-role="header">
		<h1>Account Page</h1>
		
</div>

	   
		
<div role="main" class="ui-content">
		
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#student">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#survey">Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#account">Account
         <span class="sr-only">(current)</span></a>
      </li>
  </div>
</nav>

        <h2 class="p1">Hello Student!</h2>
        <p class="p1">This is your Account Page!</p>
		
		
		<button id="suveyscompleted"># of surveys completed</button>
		
		<div id="surveynumdisplay"></div>

		      
        
		<div class="staffmessage" id="staffmessages">
		<center><h2>Message Box</h2></center>	 
		<button id="staffMessages" class="staffmessagebutton">View New Messages</button>
        </div>	
		
		
<div id="container" class="calendarclass">
      <div id="header">
        <div id="monthDisplay"></div>
        <div>
          <button id="backButton" class="prevbutton">Back</button>
          <button id="nextButton" class="nextbutton">Next</button>
        </div>
      </div>

      <div id="weekdays">
        <div>Sunday</div>
        <div>Monday</div>
        <div>Tuesday</div>
        <div>Wednesday</div>
        <div>Thursday</div>
        <div>Friday</div>
        <div>Saturday</div>
      </div>

      <div id="calendar"></div>
    </div>

    <div id="newEventModal">
      <h2>New Event</h2>

      <input id="eventTitleInput" placeholder="Event Title" />

      <button id="saveButton">Save</button>
      <button id="cancelButton">Cancel</button>
    </div>

    <div id="deleteEventModal">
      <h2>Event</h2>

      <p id="eventText"></p>

      <button id="deleteButton">Delete</button>
      <button id="closeButton">Close</button>
    </div>

    <div id="modalBackDrop"></div>


		
		
		<button onclick="logout()">Logout</button>
	



</div>


<!-- Start of staff page: #one_staff -->
<div data-role="page" id="staff" data-theme="a">

	<div data-role="header">
		<h1>Staff Page</h1>
		
	</div><!-- /header -->
	
	


	
	

<div role="main" class="ui-content">


		
		
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#staff">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#makegraph">View Graph Data</a>
      </li><div class="timemove" id="time01"></div>
  </div>
</nav>

        <h2 class="p1">Welcome Staff</h2>

		
		<h3 style="padding: 10px; border: 2px solid black; text-align: center">Message to Students</h3>
              <li>
                 <input class="tostudents" type="textarea" id="toStudents"></input>
              </li>
              <button type="submit" id="submitMessage" class="ui-btn" >Send Message</button>
		
	
	

        <button onclick="logout()">Logout</button>

 
        </div><!-- /content -->
	
    	<!--End of staff page-->

 </div>
 
 <!-- Start of staff page: #two_staff-->
 <div data-role="page" id="makegraph" data-theme="a">

 	<div  data-role="header">
 		<h1>Staff Management Page</h1>

 	</div><!-- /header -->







 <div role="main" class="ui-content">




 <nav class="navbar navbar-expand-lg navbar-light bg-light">


   <div class="collapse navbar-collapse" id="navbarColor03">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <a class="nav-link" href="#staff">Home
           <span class="sr-only">(current)</span>
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#makegraph">View Graph Data</a>
       </li></div>
   </div>
 </nav>

	     <h2 class="p1">View Graph</h2>


		<button id="getSurveys">Get Survey Data</button>

		<div id="surveydata">
		</div>



         <button onclick="logout()">Logout</button>


         </div><!-- /content -->

     	<!--End of staff page-->

  </div>
  



	
	
  
 <script>
  
  $("#login").click(function(e) {
	  console.log("clicked");

       // get the username and the password
      var sd = $("#student_id").val();
      var pw = $("#password").val();
      
      
       // AJAX POST to the /login page 

      $.post( "/login", { student_id: sd, password: pw })
      .done(function( data ) {
            alert( "login now?: " + data );
            
            if(data.includes('student')){
                 // redirect to the student page.
                 window.location="/#student";
            }
			     // redirect to the staff page
            else if(data.includes('staff')){
			     window.location="/#staff";
            }
            
      });
  
  
  });
 </script>
 
 
 <script>
    $("#registerNew").click(function(e) {

      // Get the username and the password
      var sd = $("#student_id").val();
      var pw = $("#password").val();
 
      // send data to the server side.
      $.post( "/register", {student_id: sd, password: pw})
      .done(function( data ) {
            alert( "Signed UP!: " + data );
			
			 if(data.includes('student')){
               // redirect to the student page.
                 window.location="/#student";
                 }
		 });

     });
</script>

<script>// Code By Mark Bell
    $("#submitSurvey").click(function(e) // Takes the survey input data and pushes it to the server
    {
       //question1
       var good = document.getElementById("good");
       var neutral = document.getElementById("neutral");
       var bad = document.getElementById("bad");

       //question2
       var car = document.getElementById("car");
       var bus = document.getElementById("bus");
       var walking = document.getElementById("walking");

       //question3
       var ask = document.getElementById("ask");
       var assignment = document.getElementById("assignment");
       var sports = document.getElementById("sports");

       //question4
       var yes = document.getElementById("yes");
       var sometimes = document.getElementById("sometimes");
       var no = document.getElementById("no");

       //question5
       var work = document.getElementById("work");
       var sometimes01 = document.getElementById("sometimes01");
       var work_null = document.getElementById("work_null");

       //question6
       var yes01 = document.getElementById("yes01");
       var sometimes02 = document.getElementById("sometimes02");
       var no01 = document.getElementById("no01");

       //question7
       var yes02 = document.getElementById("yes02");
       var i_will = document.getElementById("i_will");
       var no02 = document.getElementById("no02");

       //question8
       var yes03 = document.getElementById("yes03");
       var sometimes03 = document.getElementById("sometimes03");
       var no03 = document.getElementById("no03");

       //question9
       var yes04 = document.getElementById("yes04");
       var no04 = document.getElementById("no04");

       //question10
       var canteen = document.getElementById("canteen");
       var lunch = document.getElementById("lunch");
       var town = document.getElementById("town");


       if(good.checked ){
        var q1 = $("#good").val();
        	}
        else if (neutral.checked) {
            var q1a = $("#neutral").val();
        }// Storing the values that the user types in
        else if (bad.checked){
            var q1b = $("#bad").val();
        }

       if(car.checked ){
        var q2 = $("#car").val();
            }
        else if (bus.checked) {
            var q2a = $("#bus").val();
        }// Storing the values that the user types in
        else if (walking.checked){
             var q2b = $("#walking").val();
        }

       if(ask.checked ){
         var q3 = $("#ask").val();
             }
       else if (assignment.checked) {
            var q3a = $("#assignment").val();
       }// Storing the values that the user types in
       else if (sports.checked){
            var q3b = $("#sports").val();
       }

       if(yes.checked){
         var q4 = $("#yes").val();
             }
       else if (sometimes.checked) {
            var q4a = $("#sometimes").val();
       }// Storing the values that the user types in
       else if (no.checked){
            var q4b = $("#no").val();
       }

       if(work.checked){
          var q5 = $("#work").val();
              }
       else if (sometimes01.checked) {
            var q5a = $("#sometimes01").val();
       }// Storing the values that the user types in
       else if (work_null.checked){
            var q5b = $("#work_null").val();
       }

       if(yes01.checked){
          var q6 = $("#yes01").val();
              }
       else if (sometimes02.checked) {
            var q6a = $("#sometimes02").val();
       }// Storing the values that the user types in
       else if (no01.checked){
            var q6b = $("#no01").val();
       }

       if(yes02.checked){
          var q7 = $("#yes02").val();
              }
       else if (i_will.checked) {
          var q7a = $("#i_will").val();
       }// Storing the values that the user types in
       else if (no02.checked){
          var q7b = $("#no02").val();
       }

       if(yes03.checked){
          var q8 = $("#yes03").val();
              }
       else if (sometimes03.checked) {
          var q8a = $("#sometimes03").val();
       }// Storing the values that the user types in
       else if (no03.checked){
          var q8b = $("#no03").val();
       }

      if(yes04.checked){
          var q9 = $("#yes04").val();
              }
      else if (no04.checked){
          var q9a = $("#no04").val();
      }

       if(canteen.checked){
                var q10 = $("#canteen").val();
                    }
             else if (lunch.checked) {
                var q10a = $("#lunch").val();
             }// Storing the values that the user types in
             else if (town.checked){
                var q10b = $("#town").val();
             }


        $.post( "/submit", { good: q1, neutral: q1a, bad: q1b, car: q2, bus: q2a, walking: q2b, ask: q3, assignment: q3a, sports: q3b, yes: q4, sometimes: q4a, no: q4b, work: q5, sometimes01: q5a, work_null: q5b, yes01: q6, sometimes02: q6a, no01: q6b, yes02: q7, i_will: q7a, no02: q7b, yes03: q8, sometimes03: q8a, no03: q8b, yes04: q9, no04: q9a, canteen: q10, lunch: q10a, town: q10b}) // sends the data to the server
        .done(function( data ) {
            alert("Survey Submitted" + data);

            window.location="/#student";
        });


    });

</script>

<script>

function logout()
	{
	window.location="#one";
	}

function takesurvey()
    {
        window.location="#takeSurvey";
    }
</script>


<script>

// Code By Mark Bell Submit Message
    $("#submitMessage").click(function(e) // Takes the survey input data and pushes it to the server
    {
        var ms = $("#toStudents").val();	// Storing the values that the user types in
		
      
        $.post( "/submitMS", {toStudents: ms}) // sends the data to the server
        .done(function( data ) {
            alert("Message Sent" + data)
        });


    });

</script>

<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('time').innerHTML = today;
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}

startTime();

</script>


<script>
//script for slider home page #student

var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 10000); // Change image every 2 seconds
}
</script>

 
<script>
		
		
//gets the graph data
//Graph 01
const ctx = document.getElementById('myChart').getContext('2d');	

const bad = 1;
const neutral = 0;
const good = 0;

const data = {bad, neutral, good};

const options = {method: 'POST', headers: {'Content-Type': 'application/json'},
	body: JSON.stringify(data);
};

const response = await fetch('/getGraph', options);
const json = await response.json();
console.log(json);



const bad_campus01 = json;


const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Bad', 'Neutral', 'Good'],
        datasets: [{
            label: 'Adjusting to College Life',
            data: [bad_campus01],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 162, 110, 0.2)',
                'rgba(10, 120, 60, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 162, 110, 0.2)',
                'rgba(10, 120, 60, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// graph 02
var ctx01 = document.getElementById('myBarChart').getContext('2d');	

var myBarChart = new Chart(ctx01, {
    type: 'bar',
    data: {
        labels: ['Car', 'Bus', 'Walking'],
        datasets: [{
            label: 'How do people get to college?',
            data: [4,6,15],
            backgroundColor: [
                'rgba(140, 40, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(140, 40, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// graph 03
var ctx02 = document.getElementById('myChart1').getContext('2d');	

var myChart1 = new Chart(ctx02, {
    type: 'line',
    data: {
        labels: ['Canteen', 'Pack lunch', 'Town'],
        datasets: [{
            label: 'Where do you eat for lunch?',
            data: [14,6,2],
            backgroundColor: [
                'rgba(140, 40, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(140, 40, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

// graph 04
var ctx03 = document.getElementById('myBarChart1').getContext('2d');	


var myBarChart1 = new Chart(ctx03, {
    type: 'bar',
    data: {
        labels: ['No', 'Sometimes', 'Yes'],
        datasets: [{
            label: 'Working well with fellow students',
            data: [14,6,2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 162, 110, 0.2)',
                'rgba(10, 120, 60, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 162, 110, 1)',
                'rgba(10, 120, 60, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>

<script>
// gets messages for the account page
  $("#staffMessages").click(function(e))
  {
		$.post("/staffmessages", {})
		.done(function(data))
		{
			alert("Data Loaded:" + data);

			$('#staffmessages').html(data);
		});
  }
</script>


<script>
// gets survey data for staff page
  $("#getSurveys").click(function(e))
  {
		$.post("/surveyData", {})
		.done(function(data))
		{
			alert("Data Loaded:" + data);

			$('#surveydata').html(data);
		});
  }
</script>

<script>
// gets survey data for account page
  $("#suveyscompleted").click(function(e))
  {
		$.post("/surveyNum", {})
		.done(function(data))
		{
			alert("Data Loaded:" + data);

			$('#surveynumdisplay').html(data);
		});
  }
</script>


<script>
// gets survey data for survey page
  $("#showButton").click(function(e))
  {
		$.post("/getGraph", {})
		.done(function(data))
		{
			alert("Data Loaded:" + data);

			$('#showSurvey').html(data);
		});
  }
  
</script>



<script>
//calendar script
let nav = 0;
let clicked = null;
let events = localStorage.getItem('events') ? JSON.parse(localStorage.getItem('events')) : [];

const calendar = document.getElementById('calendar');
const newEventModal = document.getElementById('newEventModal');
const deleteEventModal = document.getElementById('deleteEventModal');
const backDrop = document.getElementById('modalBackDrop');
const eventTitleInput = document.getElementById('eventTitleInput');
const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

function openModal(date) {
  clicked = date;

  const eventForDay = events.find(e => e.date === clicked);

  if (eventForDay) {
    document.getElementById('eventText').innerText = eventForDay.title;
    deleteEventModal.style.display = 'block';
  } else {
    newEventModal.style.display = 'block';
  }

  backDrop.style.display = 'block';
}

function load() {
  const dt = new Date();

  if (nav !== 0) {
    dt.setMonth(new Date().getMonth() + nav);
  }

  const day = dt.getDate();
  const month = dt.getMonth();
  const year = dt.getFullYear();

  const firstDayOfMonth = new Date(year, month, 1);
  const daysInMonth = new Date(year, month + 1, 0).getDate();
  
  const dateString = firstDayOfMonth.toLocaleDateString('en-us', {
    weekday: 'long',
    year: 'numeric',
    month: 'numeric',
    day: 'numeric',
  });
  const paddingDays = weekdays.indexOf(dateString.split(', ')[0]);

  document.getElementById('monthDisplay').innerText = 
    `${dt.toLocaleDateString('en-us', { month: 'long' })} ${year}`;

  calendar.innerHTML = '';

  for(let i = 1; i <= paddingDays + daysInMonth; i++) {
    const daySquare = document.createElement('div');
    daySquare.classList.add('day');

    const dayString = `${month + 1}/${i - paddingDays}/${year}`;

    if (i > paddingDays) {
      daySquare.innerText = i - paddingDays;
      const eventForDay = events.find(e => e.date === dayString);

      if (i - paddingDays === day && nav === 0) {
        daySquare.id = 'currentDay';
      }

      if (eventForDay) {
        const eventDiv = document.createElement('div');
        eventDiv.classList.add('event');
        eventDiv.innerText = eventForDay.title;
        daySquare.appendChild(eventDiv);
      }

      daySquare.addEventListener('click', () => openModal(dayString));
    } else {
      daySquare.classList.add('padding');
    }

    calendar.appendChild(daySquare);    
  }
}

function closeModal() {
  eventTitleInput.classList.remove('error');
  newEventModal.style.display = 'none';
  deleteEventModal.style.display = 'none';
  backDrop.style.display = 'none';
  eventTitleInput.value = '';
  clicked = null;
  load();
}

function saveEvent() {
  if (eventTitleInput.value) {
    eventTitleInput.classList.remove('error');

    events.push({
      date: clicked,
      title: eventTitleInput.value,
    });

    localStorage.setItem('events', JSON.stringify(events));
    closeModal();
  } else {
    eventTitleInput.classList.add('error');
  }
}

function deleteEvent() {
  events = events.filter(e => e.date !== clicked);
  localStorage.setItem('events', JSON.stringify(events));
  closeModal();
}

function initButtons() {
  document.getElementById('nextButton').addEventListener('click', () => {
    nav++;
    load();
  });

  document.getElementById('backButton').addEventListener('click', () => {
    nav--;
    load();
  });

  document.getElementById('saveButton').addEventListener('click', saveEvent);
  document.getElementById('cancelButton').addEventListener('click', closeModal);
  document.getElementById('deleteButton').addEventListener('click', deleteEvent);
  document.getElementById('closeButton').addEventListener('click', closeModal);
}

initButtons();
load();

</script>








</body>
</html>
