<!DOCTYPE html>
<html>
  <head>
  
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


  
    <title>Major Assignment</title>


  </head>
  <body>
   

   
   
	<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Student Wellness</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
    
    
    	<h2>Welcome</h2>
		<p>Sign in / Register Here</p>

        
         Student ID: <input type="text" id="student_id" name="student_id"></input>
         Password: <input type="password" id="password" name="password"></input>
         <button id="registerNew" class="ui-btn">Register</button>
         <button id="login" class="ui-btn">Login</button>
     
		
	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->



<!-- Start of student page: #two -->
<div data-role="page" id="student" data-theme="a">

	<div data-role="header">
		<h1>Welcome Student</h1>
		
		
		
		</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Hello Student!</h2>
		
		<ul>
			<li><a href="#student">Home</a></li>
			<li><a href="#survey">Survey</a></li>
			<li><a href="#graph">Graph</a></li>
			<li><a href="#account">Account</a></li>
		</ul>



<button onclick=”logout()” >Logout </button>



 </div>		
		



	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
	</div><!-- /content -->

<!--End of student Page-->

<!-- Start of survey page: -->
<div data-role="page" id="survey" data-theme="a">

		<div data-role="header">
		<h1>Survey Page</h1>
		
		</div>
		
			<div role="main" class="ui-content">
		<h2>Hello Student!</h2>
		<h3>This is the survey page!</h3>
		<p>Take the Survey?</p>
		<ul>
	    <li><a href="#takeSurvey" >Survey</a></li>
	    </ul>
		



        <button onclick=”logout()” >Logout</button>



</div>	
</div>

<div data-role="page" id="takeSurvey" data-theme="a">

		<div data-role="header">
		<h1>Survey</h1>

		</div>

	    <div role="main" class="ui-content">

	    <form action="/my-handling-form-page" method="POST"> <!-- Using a form to display the survey -->

	      <li>
            <label for="Q1">Q1: How are you finding college life?</label>
            <input type="text" id="Q1" name="Q1">
          </li>
          <li>
            <label for="Q2">Q2: How do you travel to college?</label>
            <input type="text" id="Q2" name="Q2">
          </li>
          <li>
            <label for="Q3">Q3: Do you find any of the modules hard?</label>
            <input type="text" id="Q3" name="Q3">
          </li>
          <li>
            <label for="Q4">Q4: </label>
            <input type="text" id="Q4" name="Q4">
          </li>
          <li>
            <label for="Q5">Q5: </label>
            <input type="text" id="Q5" name="Q5">
          </li>
          <li>
            <label for="Q6">Q6: </label>
            <input type="text" id="Q6" name="Q6">
          </li>
          <li>
            <label for="Q7">Q7: </label>
            <input type="text" id="Q7" name="Q7">
          </li>
          <li>
            <label for="Q8">Q8: </label>
            <input type="text" id="Q8" name="Q8">
          </li>
          <li>
            <label for="Q9">Q9: </label>
            <input type="text" id="Q9" name="Q9">
         </li>
         <li>
            <label for="Q10">Q10: </label>
            <input type="text" id="Q10" name="10">
         </li>
         </ul>
           </form><!-- end of form-->
         <button type="submit" id="submitSurvey" class="ui-btn" >Submit</button>







<button onclick=”logout()” >Logout</button>



</div>
</div>

<!-- Start of graph page: -->
<div data-role="page" id="graph" data-theme="a">

		<div data-role="header">
		<h1>Graph Page</h1>
		
		</div>
		
			<div role="main" class="ui-content">
		<h2>Hello Student!</h2>
		<p>This is the Graph Page!</p>
		




<button onclick=”logout()” >Logout</button>



</div>	
</div>

<!-- Start of account page: -->
<div data-role="page" id="account" data-theme="a">

		<div data-role="header">
		<h1>Account Page</h1>
		
		</div>
		
			<div role="main" class="ui-content">
		<h2>Hello Student!</h2>
		<p>This is your Account Page!</p>

		<div>
		<h3 style="padding: 10px; border: 2px solid black; text-align: center">Message of Day</h3>
		<center><p id="forStudents" style="padding: 10px; border: 4px solid black; width: 250px; height: 250px;"></p></center>



		</div>
		




        <button onclick=”logout()” >Logout</button>



</div>	
</div>


<!-- Start of staff page: #two -->
<div data-role="page" id="staff" data-theme="a">

	<div data-role="header">
		<h1>Staff Page</h1>
	</div><!-- /header -->
	
	

	<div role="main" class="ui-content">
		<h2>Welcome Staff</h2>
		<div>
		<h3 style="padding: 10px; border: 2px solid black; text-align: center">Message to Students</h3>
              <li>
                 <center><input type="textarea" id="toStudents" name="toStudents" style="padding: 10px; border: 4px solid black; width: 250px; height: 250px;"></input></center>
              </li>
             <button onclick=”displayMessage()” >Submit</button>
		</div>
	
	

<button onclick=”logout()” >Logout</button>
 
    </div><!-- /content -->
	
	<!--End of staff page-->

	</div>
	
	
  
 <script>
  
  $("#login").click(function(e) {
	  console.log("clicked");

       // get the username and the password
      var sd = $("#student_id").val();
      var pw = $("#password").val();
      
      
       // AJAX POST to the /login page 

      $.post( "/login", { student_id: sd, password: pw })
      .done(function( data ) {
            alert( "login now?: " + data );
            
            if(data.includes('student')){
                 // redirect to the customer page.
                 window.location="/#student";
            }
			     // redirect to the cook page
            else if(data.includes('staff')){
			     window.location="/#staff";
            }
            
      });
  
  
  });
 </script>
 
 
 <script>
    $("#registerNew").click(function(e) {
        
 
        // Get the username and the password
        var sd = $("#student_id").val();
        var pw = $("#password").val();
 
      // send data to the server side.
      $.post( "/register", { student_id: sd, password: pw })
      .done(function( data ) {
            alert( "Signed UP!: " + data );
			
			window.location="/#student";
		 });

		 });
</script>

<script>// Code By Mark Bell
    $("#submitSurvey").click(function(e) // Takes the survey input data and pushes it to the server
    {
        var q1 = $("#Q1").val(); // Storing the values that the user types in
        var q2 = $("#Q2").val();
        var q3 = $("#Q3").val();
        var q4 = $("#Q4").val();
        var q5 = $("#Q5").val();
        var q6 = $("#Q6").val();
        var q7 = $("#Q7").val();
        var q8 = $("#Q8").val();
        var q9 = $("#Q9").val();
        var q10 = $("#Q10").val();

        $.post( "/submit", { Q1: q1, Q2: q2, Q3: q3, Q4: q4, Q5: q5, Q6: q6, Q7: q7, Q8: q8, Q9: q9, Q10: q10}) // sends the data to the server
        .done(function( data ) {
            alert("Survey Submitted" + data)
        });


    });

</script>


<script>
function message()
    {
     document.getElementById("#toStudents").innerHTML;
    }
 function displayMessage()
    {
    document.write(message());
    }
</script>


<script>

function logout()
	{
	Window.location=”/”;
	}
</script>
</body>
</html>
